{% extends "masterpage.html"%}
{% block content%}
<div class="MainDiv">
    <div class="LeftDiv">

    </div>
    <div class="CenterDiv" style="background-image: url('../images/bgimages/security.jpg'); background-size: cover;">
        {%for task in Task%}
        <a href="{{Task[task]['Url']}}">
            <div class="Task">
                {{task}}
                <img src="{{Task[task]['icon']}}">
            </div>

        </a>
       {%endfor%}
    </div>
    <div class="RightDiv">
        
    </div>

</div>
{%endblock%}