<!DOCTYPE html>
<html lang="en">
<head>
  <title>BDSTech</title>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="icon" type="image/png" href="{{url_for('static',filename='images/icons/favicon.ico')}}"/>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/css/login.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
<body>
   
    <form id="SiginForm" name="SiginForm" action="/deactivate_alert" method="POST" class="Loginform">
        <img src="{{url_for('static',filename='images/icons/user.png')}}" class="UserImage">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email or Username" id="username" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" id="password" required>
        </div>

        <button type="submit" class="btn btn-success loginButton">Log In</button>
        
    </form>
    
</body>
</html>