<!DOCTYPE html>
<html lang="en">
<head>
	<title>BDStech</title>
    <script type="text/javascript">
        function PageLoad()
        {
            if(document.getElementById("textBacode")!=null)
            {   
                
                CheckOption = document.getElementById("hfOption");
                if(CheckOption.value=="1")
                {
                    CheckInOption("rbWalk");
                }
                else
                {
                    CheckInOption("rbCar");
                }
                
                
            }
            
            
          
        }
        function CheckInOption(rbChecked)
        {
            if (rbChecked=="rbCar")
            {
                OptionCheckIn = document.getElementById("rbCar");
                CheckInIcon= document.getElementById("imgCar");
                document.getElementById("pedestrian_Access").style.display="None";
                document.getElementById("car_access").style.display="Block";
                document.getElementById("textBacode").value="";
                document.getElementById("textBacode").focus();
            }
            else
            {
                OptionCheckIn = document.getElementById("rbWalk");
                CheckInIcon= document.getElementById("imgWalk");
                document.getElementById("car_access").style.display="None";
                document.getElementById("textBacode").style.display="None";
                document.getElementById("pedestrian_Access").style.display="Block";
                
            }
            
            OptionCheckIn.checked = true;
            CheckInIcon.style.backgroundColor = "deeppink";
        }
        function changeCheckIn(location_id,rbChecked)
        {
            url ="/grantacc/"+location_id +"/" +rbChecked;
            window.location.replace(url);
        }
	
	
    </script>
      <meta content="width=device-width, initial-scale=1" name="viewport" />
      <link rel="icon" type="image/png" href="{{url_for('static',filename='images/icons/favicon.ico')}}"/>
      <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/css/Main.css')}}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      
    </head>
<body onload="PageLoad()">
    {% block content%}
	{%endblock%}
	
</body>
</html>
   